// ***************************************************** \\
// **************** GAME Colour Palette **************** \\
// ***************************************************** \\
$purple: #98268f;
$purple2: #6d0059;
$lightPurple: #a12283;
$headerLinePurple: #b13293;

$backgroundGrey: #d1d2d4;
$darkGrey: #333333;
$middleGrey: #666666;
$lightGrey: #999999;
$veryLightGrey: #efefef;
$borderGrey: #c7c7c7;
$lightGreyText: #767676;
$grey: #a7a9ac;
$grey2: #565656;
$grey3: #c5baba;
$grey4: #5e6769;
$white: #fff;
$red: #ff0000;
$darkRed: #C03131;