#loginDetails {
	
	
	h2 {
		margin-top: 20px;
	}

	.errorMessage {
		margin-bottom: 0;
		display: block;
	}

	.checkboxContainer {
	  	margin-top: 10px;
	  	input {
	  		vertical-align: middle;
	  	}
	}

	
}