
input[type="text"], input[type="password"], input[type="email"] {
	width: 100%;
	@extend %input;
}
select {
	@extend %select;
}
section.mainSection {
  	background: white;
  	margin: 5px;
  	padding: 0 10px;
  	h2 {
		font-weight: bold;
		padding: 10px 0 9px 0px;
		@include font-size(1.8);
		@extend %openSans;
	}
}